@import url("../../../001-lib/style/vars.css");
@import url("../../../styles/vars.css");

.root {
  height: 100%;
  width: 100%;

  border: var(--window-border);
  border-radius: 10px;

  display: flex;
  flex-direction: column;

  background-color: var(--box-color);
}

.header {
  border-bottom: var(--window-border);
}

.header h1 {
  margin-left: 10px;
}

.list {
  flex-grow: 1;

  padding: 0 10px 0 10px;

  overflow-y: auto;
}
