.root {
    --window-border: 1px solid #d3d3d3;

    /* visibility: hidden; */

    position: absolute;
    left: 15%;
    top: 15%;

    z-index: 1000;

    width: 70%;
    height: 70%;
    
    border: var(--window-border);
    border-radius: 10px;

    background-color: #202020;
}

.header {
    border-bottom: var(--window-border);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin-left: 10px;
}

.close {
    cursor: pointer;
    height: 30px;
    margin-right: 10px;
    filter: invert(92%) sepia(0%) saturate(1079%) hue-rotate(261deg) brightness(93%) contrast(94%);
}